<app-headercheck></app-headercheck>

<div class="book-container">
  <div class="header-section text-center">
    <h2>Book Appointment</h2>
  </div>

  <div class="booking-form" *ngIf="doctorProfile">
    <div class="form-card">
      <form>
        <div class="mb-3">
          <label class="form-label">Select Doctor</label>
          <select class="form-select" disabled>
            <option>{{ doctorProfile.Fname }} {{ doctorProfile.Lname }}</option>
          </select>
        </div>

        <div class="mb-3">
          <label class="form-label">Appointment Type</label>
          <select class="form-select" disabled>
            <option>{{ doctorProfile.ConsultationType }}</option>
          </select>
        </div>

        <div class="mb-3">
          <label class="form-label">Select Day</label>
          <select class="form-select" (change)="onDaySelected($event)">
            <option value="" disabled selected>Select a day</option>
            <option *ngFor="let day of availableDays" [value]="day">{{ day }}</option>
          </select>
        </div>

        <div class="mb-3">
          <label class="form-label">Available Time</label>
          <input type="text" class="form-control" [value]="timeRange" disabled />
        </div>

        <div class="mb-3">
          <label class="form-label">Select Clinic</label>
          <select class="form-select" (change)="onClinicSelected($event)">
            <option value="" disabled selected>Select a clinic</option>
            <option *ngFor="let clinic of doctorProfile.Clinics" [value]="clinic.name + ' - ' + clinic.location">
              {{ clinic.name }} - {{ clinic.location }}
            </option>
          </select>
        </div>

        <div class="mb-3">
          <label class="form-label">Doctor Fee (LKR)</label>
          <select class="form-select" disabled>
            <option>{{ doctorProfile?.ConsultationFee || 0000 }}</option>
          </select>
        </div>

        <div class="mb-3">
          <label class="form-label">Clinic Fee (LKR)</label>
          <select class="form-select" disabled>
            <option>{{ doctorProfile.ClinicFee || 0000 }}</option>
          </select>
        </div>

        <div class="mb-3">
          <label class="form-label">Total Fee with Service Charge (LKR)</label>
          <select class="form-select" disabled>
            <option>{{ totalFee || 0000 }}</option>
          </select>
        </div>

        <div class="text-center">
            <div id="paypal-button-container" *ngIf="isFormValid()" #paypalContainer></div>
        </div>
      </form>
    </div>
  </div>
</div>

<app-footer></app-footer>
