<div class="header-top bg-light py-2">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-md-6 d-flex justify-content-start align-items-center">
                <div class="contact-info">
                    <span><i class="bx bx-envelope"></i> info7example.com</span>
                    <span class="ms-3"><i class="bx bx-phone"></i> +94 00000000</span>
                </div>
            </div>
            <div class="col-12 col-md-6 d-flex justify-content-end align-items-center">
                <span class="currency me-3 text-primary">LKR <i class="bx bx-money"></i></span>
                <div class="social-icons">
                    <a href="https://www.instagram.com" target="_blank" class="text-primary me-2"><i
                            class="bx bxl-instagram"></i></a>
                    <a href="https://www.facebook.com" target="_blank" class="text-primary me-2"><i
                            class="bx bxl-facebook"></i></a>
                    <a href="https://www.linkedin.com" target="_blank" class="text-primary"><i
                            class="bx bxl-linkedin"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Navbar Section -->
<nav class="navbar navbar-expand-lg navbar-light bg-white">
    <div class="container">
        <a class="navbar-brand text-info" href="#">CAREPATH</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item"><a class="nav-link" href="#">Home</a></li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="doctorsDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">Doctors</a>
                    <ul class="dropdown-menu" aria-labelledby="doctorsDropdown">
                        <li><a class="dropdown-item" href="#">Doctor Dashboard</a></li>
                        <li><a class="dropdown-item" href="#">Appointments</a></li>
                        <li><a class="dropdown-item" href="#">View Patient Profile</a></li>
                        <li><a class="dropdown-item" href="#">View Profile</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="patientDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">Patient</a>
                    <ul class="dropdown-menu" aria-labelledby="patientDropdown">
                        <li><a class="dropdown-item" href="#">Patient Dashboard</a></li>
                        <li><a class="dropdown-item" href="#">Upcoming Appointments</a></li>
                        <li><a class="dropdown-item" href="#">Give Feedback</a></li>
                        <li><a class="dropdown-item" href="#">Find Doctors</a></li>
                        <li><a class="dropdown-item" href="#">View Profile</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="adminDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">Admin</a>
                    <ul class="dropdown-menu" aria-labelledby="adminDropdown">
                        <li><a class="dropdown-item" href="#">Clinic Admin</a></li>
                        <li><a class="dropdown-item" href="#">Admin</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="pagesDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">Pages</a>
                    <ul class="dropdown-menu" aria-labelledby="pagesDropdown">
                        <li><a class="dropdown-item" href="#">Medicine & Suppliers</a></li>
                        <li><a class="dropdown-item" href="#">Home Care Services</a></li>
                        <li><a class="dropdown-item" href="#">Blogs</a></li>
                    </ul>
                </li>
            </ul>
            <div class="header-buttons ms-3">
                <button class="btn btn-primary me-2 custom-btn">Sign Up</button>
                <button class="btn btn-secondary custom-btn">Register</button>
            </div>
        </div>
    </div>
</nav>