<footer class="text-center text-lg-start" style="background-color: #083364; color: white;">
    <div class="container p-4">
        <div class="row">
            <!-- Column 1: About Section -->
            <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
                <h5 class="text-uppercase">About CarePath</h5>
                <p>
                    CarePath is dedicated to providing the best health care services. Your trusted partner in well-being
                    and recovery.
                </p>
            </div>

            <!-- Column 2: Quick Links -->
            <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
                <h5 class="text-uppercase">Quick Links</h5>
                <ul class="list-unstyled mb-0">
                    <li><a href="#" class="text-light">Home</a></li>
                    <li><a href="#" class="text-light">Doctors</a></li>
                    <li><a href="#" class="text-light">Patients</a></li>
                    <li><a href="#" class="text-light">Admin</a></li>
                    <li><a href="#" class="text-light">Pages</a></li>
                </ul>
            </div>

            <!-- Column 3: Social Media -->
            <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
                <h5 class="text-uppercase">Follow Us</h5>
                <a href="https://www.instagram.com" target="_blank" class="text-light me-3">
                    <i class="bx bxl-instagram"></i>
                </a>
                <a href="https://www.facebook.com" target="_blank" class="text-light me-3">
                    <i class="bx bxl-facebook"></i>
                </a>
                <a href="https://www.linkedin.com" target="_blank" class="text-light">
                    <i class="bx bxl-linkedin"></i>
                </a>
            </div>
        </div>
    </div>

    <!-- Footer Bottom -->
    <div class="text-center p-3" style="background-color: #083364; color: white;">
        © 2025 CarePath. All Rights Reserved.
    </div>
</footer>